* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: #333;
  overflow: hidden;
}

.sky {
  position: relative;
  background-color: blue;
  height: 60vh;
  -webkit-animation: sky 8s linear infinite;
          animation: sky 8s linear infinite;
}

.sun {
  position: absolute;
  top: 50px;
  left: 100px;
  background-color: gold;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 70px yellow;
          box-shadow: 0 0 70px yellow;
  -webkit-animation: sun 8s ease-in infinite;
          animation: sun 8s ease-in infinite;
}

.ground {
  position: relative;
  bottom: 0;
  height: 40vh;
  background-color: #3f2727;
}

.grass {
  position: absolute;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: lime;
}

.road {
  position: absolute;
  top: 30px;
  height: 120px;
  width: 100%;
  background-color: grey;
}

.car {
  position: absolute;
  top: -15px;
  left: 200px;
  height: 70px;
  width: 150px;
  background-color: tomato;
  border-radius: 15px;
  -webkit-animation: car 8s ease-in infinite;
          animation: car 8s ease-in infinite;
}

.car::after, .car::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 35px;
  background-color: tomato;
}

.car::after {
  right: -20px;
  border-top-right-radius: 10px;
}

.car::before {
  left: -20px;
}

.wheels {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: -10px;
  background-color: black;
  border-radius: 50%;
  border: 2px dashed #999;
  -webkit-animation: wheels 2s infinite linear;
          animation: wheels 2s infinite linear;
}

.front-wheel {
  right: 8px;
  z-index: 1;
}

.rear-wheel {
  left: 8px;
}

.window {
  position: absolute;
  top: 5px;
  height: 30px;
  width: 50px;
  background-color: #5a5ac0;
}

.front-window {
  right: 0;
  border-top-right-radius: 9px;
}

.rear-window {
  left: 0;
  border-top-left-radius: 9px;
}

@-webkit-keyframes sun {
  0% {
    top: 1000px;
  }
  40% {
    top: 50px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 1000px;
  }
}

@keyframes sun {
  0% {
    top: 1000px;
  }
  40% {
    top: 50px;
  }
  60% {
    top: 50px;
  }
  100% {
    top: 1000px;
  }
}

@-webkit-keyframes car {
  from {
    left: -500px;
  }
  to {
    left: 1500px;
  }
}

@keyframes car {
  from {
    left: -500px;
  }
  to {
    left: 1500px;
  }
}

@-webkit-keyframes wheels {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheels {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sky {
  0% {
    background-color: black;
  }
  40% {
    background-color: royalblue;
  }
  60% {
    background-color: royalblue;
  }
  100% {
    background-color: black;
  }
}

@keyframes sky {
  0% {
    background-color: black;
  }
  40% {
    background-color: royalblue;
  }
  60% {
    background-color: royalblue;
  }
  100% {
    background-color: black;
  }
}
/*# sourceMappingURL=style.css.map */